body{
    background: #188bf7;
    font: normal 15pt Arial;
}

header{
    color:white;
    text-align:center;
}
section{
    background: white;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 20px #3a3a3a8a;
}

div{
    text-align: center;
    padding: 10px;
}

img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.281);
}

footer{
    color:white;
    text-align: center;
    font-style: italic;

}